<div class="bgvid">

  <video autoplay loop poster="polina.jpg" id="bgvid">
  <source src="video.webm" type="video/webm">
  <source src="https://s3.amazonaws.com/echousa/video.mp4" type="video/mp4">
  </video>
  <%= image_tag('Facade.png', :class => "facade") %>

  <div class="overlay">


    <div class="col-md-12" class="center-text">
      <center>
        <div class="wowzer">
          <%= image_tag('hackmizzou.png') %>
        </div>

        <div class="desc">
          Co-hosted by Tradebot.
        </div>

        <div class="email-desc">
          Join the mailing list. We'll keep you in the loop!
        </div>

        <div ng-controller="email-form">
          <form novalidate>
            <input ng-model="email" type="email" class="form-control small spacing" name="email" placeholder="Email"/>
            <input id="email-submit" class="form-control small gold-border spacing clear" type="submit" value="Go!">
          </form>
        </div>

        <div>Your email address is... {{email}}</div>

      </center>
    </div>

  </div>
</div>

<div ng-controller="HackMizzouCtrl">

  <h1>Static#index</h1>
  <p>Find me in app/views/static/index.html.erb</p>


  <div id="sponsors">
    <ul ng-repeat="sponsor in sponsors">
      <li>{{sponsor.name}}</li>
    </ul>
  </div>

  <div class="long">
  </div>

</div>
