<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= javascript_include_tag 'scroll.js' %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script>
    var shiftWindow = function() { scrollBy(0, -70) };
    window.addEventListener("hashchange", shiftWindow);
    function load() { if (window.location.hash) shiftWindow(); }
  </script>
</head>
<body onload="load()">

<style>


body {
  margin:0px;
  background: #EDEDED;
}

.colored-bg{
  padding-top:5px;
  padding-bottom:5px;
  margin-top:30px;
  background:black;
}

.margin-thin{
  padding-left:2px;
  padding-right:2px;
}


.banner-center{
  text-align: -webkit-center;
  margin-top:20px;
  margin-bottom:20px;
}

div.sep{
  font-size:1.2em;
  color: #8BBB43;
}

.offset:before {
	display: block;
 	content: " ";
  z-index:-1;
  position:fixed;
	padding-top: 70px;      /* Give height of your fixed element */
  margin-top: -70px; /* Give negative margin of your fixed element */
  visibility: hidden;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  margin-bottom:30px;

}

#body_div {
  position: relative;
  padding-top:30px;
}

.friendly{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

#banner {
  width: 100%;
  height: 273px;
  background: url(http://i.imgur.com/ZAGie3m.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.picture-banner{
  background:#aaa;
}

#nav_bar {
  border: 0;
  background-color: #202020;
  border-radius: 0px;
  margin-bottom: 0;
  height: 30px;
}

.thin.container{
  max-width:780px;
}

.nav_links {
  margin: 0;
}

.nav_links li {
  display: inline-block;
  margin-top: 4px;
}
.nav_links li a {
  padding-left: 10px;
  padding-right: 10px;
  color:#8BBB43;

  font-size:1.2em;
}

.bold{
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.active {
  border-bottom: 5px solid #713487;
}

</style>

<div id="banner">
  <div class="row">
    <div class="col-sm-12">
      <center>
      </center>
    </div>
  </div>
</div>


  <nav class="nav" id='nav_bar'>
  <ul id="nav-list" class='nav_links'>
    <li><a href="#who">Who</a></li>
    <li><a href="#what">What</a></li>
    <li><a href="#when">When</a></li>
    <li><a href="#where">Where</a></li>
    <li><a href="#why">Why</a></li>
  </ul>
</nav>


<div class="thin container">
  <div id='body_div'>
    <h1 id="what" class="bold offset">What Is HackMizzou? <a class="pull-right" href="http://2014.hackmizzou.com"><button class="btn btn-primary btn-sm">HackMizzou Site</button></a></h1>

    <p class="friendly">

      HackMizzou is a weekend long tech conference where participants start with an idea and leave with a product. HackMizzou encourages students to learn new technologies, experiment, and innovate in a risk free environment. Students also have the ability to apply to internships/full-time jobs, enjoy conference-like tech talks, and a weekend of free food and transportation.
    </p>

    <div class="row">
      <div class="col-sm-12">

        <img class="img-responsive" src="http://i.imgur.com/7hPhVp3.jpg">
      </div>
    </div>

    <h1 id="who" class="bold offset">Who Benefits From HackMizzou?</h1>
    <div class="sep">STUDENTS</div>
    <p class="friendly">
      HackMizzou is centered around the 300 creative participants. HackMizzou provides the atmosphere conducive to technological advance and innovation due to its 36 hours of free food, potential prizes, and gathering of many passionate hackers.
    </p>
    <p class="friendly">
      The groups participating benefit by learning new technologies, networking with fellow hackers, and networking/applying with companies of potential future employment (internships and full-time).
    </p>
    <div class="sep">SPONSORS</div>
    <p class="friendly">
      The sponsors benefit because they can sample Mizzou's technological skills. If sponsors are more aware of Mizzou's hacking and technology skills and emphasis then they dedicate more resources to recruiting from Mizzou. This helps companies find talent, current students can find amazing internships, and recent grads find immediate employment at top notch companies.
    </p>
    <div class="sep">COLUMBIA, MISSOURI</div>
    <p class="friendly">
      Columbia benefits because this event is highly publicized as a center for innovation at Mizzou. Last year's event was notably mentioned by 10 nationally accredited news sources.
    </p>
    <div class="sep">UNIVERSITY OF MISSOURI</div>
    <p class="friendly">
      Because HackMizzou transports participants regionally, Mizzou is more known as a technological hub and it allows the University to speak for itself. We bus in students from University of Illinois, Washington University in Saint Louis, Perdue University, Rolla. We also have participants from Washington State, New York, and internationally. This is amazing exposure for Mizzou.
    </p>
    <div class="sep">SCHOOL OF ENGINEERING</div>
    <p class="friendly">
      The Engineering school benefits because it is a concrete example of successful programs hosted by its students. This is good for outreach and Engineering recruiting. It boasts the success of its students.
    </p>
    <h1 class="bold">Who Organizes HackMizzou?</h1>
    <p class="friendly">
      The Mizzou Computing Association (MCA) in association with University of Missouri Engineering School and Major League Hacking (MLH).
    </p>

    <div class="row">
      <div class="col-sm-12">
        <img src="http://i.imgur.com/AycdH2B.jpg" class="img-responsive">
      </div>
    </div>

    <h1 id="when" class="bold offset">When Is HackMizzou?</h1>
    <p class="friendly">
      Event timeline: 36 hours from Friday (Oct. 16) at 6 PM to Sunday (Oct. 18) by 4 PM.
      We are very flexible about the date due to unique venue needs.

      <div class="sep">ITINERARY</div>
      <table class="table table-condensed">
        <tr>
          <th>
            Starts
          </th>
          <th>
            Event
          </th>
        </tr>
        <tr class="success">
          <td>
            Fri 6 PM
          </td>
          <td>
            Students & sponsors arrive
          </td>
        </tr>

        <tr class="success">
          <td>
            Fri 6:30 PM
          </td>
          <td>
            Ongoing career fair
          </td>
        </tr>

        <tr class="success">
          <td>
            Fri 8 PM
          </td>
          <td>
            Opening ceremony
          </td>
        </tr>

        <tr class="success">
          <td>
            Fri 8:30 PM
          </td>
          <td>
            Dinner
          </td>
        </tr>

        <tr class="info">
          <td>
            Sat 2 AM
          </td>
          <td>
            Late night snack
          </td>
        </tr>

        <tr class="info">
          <td>
            Sat 8 AM
          </td>
          <td>
            Breakfast
          </td>
        </tr>

        <tr class="info">
          <td>
            Sat 11 AM
          </td>
          <td>
            Lunch
          </td>
        </tr>

        <tr class="info">
          <td>
            Sat 7 PM
          </td>
          <td>
            Dinner
          </td>
        </tr>


        <tr class="warning">
          <td>
            Sun 2 AM
          </td>
          <td>
            Late night snack
          </td>
        </tr>

        <tr class="warning">
          <td>
            Sun 10 AM
          </td>
          <td>
            Hacking Ends
          </td>
        </tr>

        <tr class="warning">
          <td>
            Sun 11 AM
          </td>
          <td>
            Lunch
          </td>
        </tr>

        <tr class="warning">
          <td>
            Sun 12 AM
          </td>
          <td>
            Expo & Judging
          </td>
        </tr>

        <tr class="warning">
          <td>
            Sun 2 PM
          </td>
          <td>
            Closing ceremony
          </td>
        </tr>

        <tr class="warning">
          <td>
            Sun 3 PM
          </td>
          <td>
            Hardware checkin
          </td>
        </tr>

        <tr class="warning">
          <td>
            Sun 3:30 PM
          </td>
          <td>
            Busses Leave
          </td>
        </tr>
      </table>

      <h1 id="where" class="bold offset">Where Is HackMizzou? <label class="badge">To Be Determined</label class="badge"></h1>
        <div class="sep">VENUE NEEDS</div>
        <ul class="friendly">

          <li>Working space for 350 people for 36 hours.</li>
          <li>Preferably a mix between large rooms and nooks and crannies.
            <li>Space for sponsorship tables for 36 hours.
              <li>Food distribution area
                <li>A medium size room, for...<ul>
                  <li>storing prizes, food, and general supplies.
                  </ul>
                  <li>Auditorium (350+), to host... <ul>
                    <li>Opening ceremony
                      <li>Closing ceremony
                        <li>Technical talks by experts
                        </ul>
                      </li>
                      <li>Power/outlet infrastructure for every person and their computer
                        <li>Internet (wifi/ethernet) infrastructure for weekend long connectivity
                          <li>In-door location
                            <li>Bus drop off zone available nearby
                              <li><label class="badge">OPTIONAL</label> Beautiful building to showcase Mizzou for 300+ people bussed in from all over the nation.




                            </ul>


                            <h1 id="why" class="offset bold">Why Help Host HackMizzou?</h1>
                            <p class="friendly">
                              This event benefits too many people from many different backgrounds to pass up. Combining passionate, hardworking, and innovative students, tech companies, and recruiters allows for many groups of people to advance their careers and interests.

                            </p>
                            <hr>
                            <center><a href="mailto:agwrnd@mail.missouri.edu"><button class="btn btn-primary btn-lg">Contact HackMizzou</button></a></center>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="container-fluid colored-bg">
                      <div class="row">


                        <div class="col-sm-4 margin-thin">
                          <img src="http://i.imgur.com/DoQzcmr.jpg" class="img-responsive">
                        </div>

                        <div class="col-sm-4 margin-thin">
                          <img src="http://i.imgur.com/rsj0GXK.jpg" class="img-responsive">
                        </div>

                        <div class="col-sm-4 margin-thin">
                          <img src="http://i.imgur.com/Mg32DVd.jpg" class="img-responsive">
                        </div>
                      </div>


                    </div>



                        <script>
                        $(document).ready(function() {

                          $(window).scroll(function () {
                            //if you hard code, then use console
                            //.log to determine when you want the
                            //nav bar to stick.
                            console.log($(window).scrollTop())
                            if ($(window).scrollTop() > 280) {
                              $('#nav_bar').addClass('navbar-fixed');
                            }
                            if ($(window).scrollTop() < 281) {
                              $('#nav_bar').removeClass('navbar-fixed');
                            }
                          });
                        });
                        </script>

                      </body>
                      </html>
