// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,body{
  margin:0px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  height:100%;
  width:100%;
  background:#333333;
}

.intro{
  background:#eee;
  height:400px;
}

.long{
  height:900px;
}

.wowzer{
  font-size: 400%;
}

.small{
  width:300px;
  font-size:130%;
  font-weight: bold;
  color: #eee;
  background: transparent;
}

.gold-border{
  border-color: #F1B82D;
}


.clear{
  background: transparent;
  color: #eee;
}


.navbar-background{
  background: black;
}

.navbar-right li{
  padding-left:0px;
  padding-right:5px;
}


.navbar-nav > li > a{
  padding:5px 5px 5px 5px;

}


.navbar-nav > li > a{
  line-height: 30px;
}

.navbar-default .navbar-brand{
  line-height: 30px;
  color: #F1B82D;
}

.navbar-default .navbar-nav > li > a:hover{
  color:#eee;
}

.facade{
  opacity: 0.12;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  position:absolute;
  top:0;

  min-width: 100%; min-height: 100%;
  z-index:1;
}

.navbar-default{
  background:transparent;
  border:none;
}


.ng-invalid.ng-dirty{
  border-color:red;
}

.ng-valid.ng-dirty{
  border-color:green;
}

.spacing{
  margin-top:10px;
}

.email-desc{
  margin-top:80px;
}

#email-submit:hover{
  background: #F1B82D;
}

.desc{
  font-size:130%;
}

.overlay {
  color: #eee;
  position:absolute;

  align-text:center;
  top:20%;
  left:0;
  right:0;
  z-index:1;
}


.container-small {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 750px;
}


.footer{
  padding-top:60px;
  padding-bottom:60px;
  background: #333333;
  color: #eee;
  font-size:110%;

}

.footer-text{
  padding-top:50px;
}

.content{

  padding-bottom:30px;
  padding-top:50px;
}

.content-bg{
  margin:0px;
  // background: #aaa;
}

.footer a{
  color: #F1B82D
}

.img-width{
  width:70%;
}

.img-fixed-logo{
  width:500px;
}

.buffer{
  margin-top:50px;
}

video#bgvid {
  // position: relative; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  height:100%;
  width: auto; height: auto; z-index: -100;
  background: url(polina.jpg) no-repeat;
  background-size: cover;
  -webkit-filter: sepia; /*sepia, hue-rotate, invert....*/
  -webkit-filter: brightness(30%);
}

video#bgvid { transition: 1s opacity; }
.stopfade { opacity: .5; }

video { display: block; }

@media screen and (max-device-width: 800px) {
  html { background: url(video.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
